html {
  scroll-behavior: smooth;
  text-align: center;
  text-shadow: 3px 3px 0 black;
  background-color: gray;
  color: beige;
  font-size: 38px;
}
header {
  border: solid 8px black;
}
main {
  border: solid 8px pink;
  color: bisque;
}
footer {
  border: solid 8px aqua;
}
